<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Lấy thư mục đang chạy file jar -->
    <property name="LOG_PATH" value="./logs"/>

    <!-- Format log -->
    <property name="LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n"/>

    <!-- Appender ghi file theo ngày -->
    <appender name="FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">


        <!-- Rolling theo ngày -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- Mỗi ngày 1 file -->
            <fileNamePattern>${LOG_PATH}/application-%d{yyyy-MM-dd}.log</fileNamePattern>

            <!-- Giữ log 30 ngày -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Log ra console -->
    <appender name="CONSOLE"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Root logger -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>
